In [1]:
#Dependencies and Setup
import pandas as pd
%reload_ext nb_black

path = "Resources/purchase_data.csv"

df = pd.read_csv(path)

## Player Count

In [2]:
total_players_df = pd.DataFrame({
    "Total Players": [df["SN"].nunique()]
})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [3]:
#aggregate and create variables for the new dataframe to display
unique_items = df["Item ID"].nunique()
avg_price = round(df["Price"].mean(), 2)
total_purchases = df["Purchase ID"].count()
total_revenue = df["Price"].sum()

purchase_analysis_df = pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Price" : [(f"${avg_price}")],
    "Number of Purchases": [total_purchases],
    "Total Revenue" : [(f"${total_revenue}")]
})
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

In [4]:
#create df with screen names and gender, then drop duplicate screen names
gender_df = df[["SN", "Gender"]]
gender_df = gender_df.drop_duplicates(subset=["SN"])

#count each gender for unique players - not overall
unique_gender_count = gender_df.groupby(["Gender"])["Gender"].count()

# #calculate percentages
gender_percent = round(unique_gender_count / unique_gender_count.sum() * 100, 2)

gender_dems = pd.DataFrame({
    "Total Count": unique_gender_count,
    "Percentage of Players": gender_percent
})

#format to add percentage
gender_dems.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Gender)

In [5]:
#calculate count for each gender 
gender_purchases = df.groupby(["Gender"])["Gender"].count()

#calculate total purchase each gender
gender_total = df.groupby(["Gender"])["Price"].sum()

#calculate average purchase price for each gender
gender_avg = round(gender_total / gender_purchases, 2)

#calculate purchase per person for each gender - re-using count variable from gender demographics
per_person_gender = round((gender_total / unique_gender_count), 2)

#crate dataframe for output
purchase_gender_df = pd.DataFrame({
    "Purchase Count": gender_purchases,
    "Average Purchase Price": gender_avg,
    "Total Purchase Value": gender_total,
    "Avg Total Purchase per Person": per_person_gender
})

#format style to add dollar signs
purchase_gender_df.style.format({"Average Purchase Price": "${:,.2f}", 
                          "Total Purchase Value": "${:,.2f}",
                          "Avg Total Purchase per Person": "${:,.2f}"})

## Age Demographics

In [6]:
#establish bins for ages in 4 year increments, max age is 45
df["Age Range"] = pd.cut(
    df["Age"], 
    bins = [0, 9, 14, 19, 24, 29, 34, 39, 45],
    labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-30", "40+"]
)

#create dataframe with dropped duplicates
age_dems_df = df[["SN", "Age Range", "Age"]]
age_dems_df = age_dems_df.drop_duplicates(subset=["SN"])

#count by age range
age_count = age_dems_df.groupby(["Age Range"])["Age"].count()

#calculate percentage of age ranges
age_percent = round(age_count / age_count.sum() * 100, 2)

#create dataframe for output
age_df = pd.DataFrame({
    "Total Count": age_count,
    "Percentage of Players": age_percent
})

#format to add percentage
age_df.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

In [7]:
#count of purchases by age
purchase_count = df.groupby(["Age Range"])["Purchase ID"].count()

#calculate total purchase value by age
total_purchase = df.groupby(["Age Range"])["Price"].sum()

#calculate average purchase price by age
avg_price = round(total_purchase / purchase_count, 2)

#find unqiue users within each age range
user_age = df.groupby(["Age Range"])["SN"].nunique()

#calculate avg total purchase per person by age
avg_total = round(total_purchase / user_age, 2)

#create dataframe for output
purchase_age = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Average Purchase Price": avg_price,
    "Total Purchase Value": total_purchase,
    "Avg Total Purchase per Person": avg_total
})

#formatting to add dollar dollar sign
purchase_age.style.format({"Average Purchase Price": "${:,.2f}", 
                          "Total Purchase Value": "${:,.2f}",
                          "Avg Total Purchase per Person": "${:,.2f}"})

## Top Spenders

In [8]:
#count purchases by screen name
user_purchase_count = df.groupby(["SN"])["Purchase ID"].count()

#calculate total purchase value by screen name
user_purchase_total = df.groupby(["SN"])["Price"].sum()

#calculate avg purchase price by screen name
user_avg_purchse = round(user_purchase_total / user_purchase_count, 2)

#create dataframe for output
top_spenders = pd.DataFrame({
    "Purchase Count": user_purchase_count,
    "Average Purchase Price": user_avg_purchse,
    "Total Purchase Value": user_purchase_total
})

#sort in descending order and display top 5 spenders
sorted_spenders = top_spenders.sort_values(by=["Total Purchase Value"], ascending=False).head(5)

#format to add dollar sign
sorted_spenders.style.format({"Average Purchase Price": "${:,.2f}", 
                          "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

In [9]:
#create df of purchase information
purchase_df = df[["Item ID", "Item Name", "Price"]]

#calculate purchase count
purchase_count = purchase_df.groupby(["Item ID", "Item Name"])["Item ID"].count()

#group price by item id and item name
item_price = purchase_df.groupby(["Item ID", "Item Name"])["Price"].mean()

#calculate total purchase value
total_purchase_value = purchase_df.groupby(["Item ID", "Item Name"])["Price"].sum()

#create df for output
popular_items = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Item Price": item_price,
    "Total Purchase Value": total_purchase_value
})

#sort dataframe by purchase count to show most popular item 
sorted_items = popular_items.sort_values(by=["Purchase Count"], ascending=False).head(5)

#format to add dollar sign
sorted_items.style.format({"Item Price": "${:,.2f}", 
                          "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

In [10]:
#sort previous table by total purchase value to show most profitable item by price
sorted_profit_items = popular_items.sort_values(by=["Total Purchase Value"], ascending=False).head(5)

#format to add dollar sign
sorted_profit_items.style.format({"Item Price": "${:,.2f}", 
                          "Total Purchase Value": "${:,.2f}"})